li {
    list-style-type: none;
    color: #FF4949;
    margin-left: 20%;
    font-size: 1.2rem;
}

h2 {
    color: white;
}

th {
  font-size: 15px;
    color: white;
}

table {
    width: 50%;
    font-size: 1.6rem;
    background-color: #1F2833;
    margin: 0;
}

.container {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
