<div>
  <h2>
    <strong>Leaderboard</strong>
  </h2>
</div>
<div class="userCard">
  <app-navigation></app-navigation>
  <div class="container">
    <Table class="table" id="test">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Player</th>
          <th>Points</th>
        </tr>
        <tr
          class="list"
          *ngFor="let u of users; let i = index"
          [style.color]="(i + 1) % 2 != 0 ? 'dodgerblue' : 'rgb(224, 231, 34)'"
          style="font-size: 0.95rem"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ u.username }}</td>
          <td id="points">{{ u.points }}</td>
        </tr>
      </thead>
    </Table>
  </div>
</div>
