<div>
  <h1>
    <strong>{{title}}</strong>
    <a id="switchMode" (click)="changeTitle()">(switch)</a>
  </h1>
</div>
<div class="userCard">
  <app-navigation></app-navigation>
  <div id="friendsList"
       *ngIf="title === 'Friends'"
  >
    <input
      class="listInput"
      [(ngModel)]="friendUsername"
      (ngModelChange)="filterFriendsList()"
      type="text"
      name="friendUsername"
      maxlength="50"
      placeholder="Search..."
    />
    <div class="listContainer">
      <div *ngIf="active === 'list'">
        <div
          (click)="moreInfo($event)"
          class="friendsListIndividual"
          *ngFor="let user of friendsList"
        >{{user.username}}</div>
      </div>
      <div class="friendInfo" *ngIf="active === 'info'">
        <div class="infoIndividual" id="backInfo" (click)="onBack()"><strong>Back</strong></div>
        <div class="infoIndividual"><strong>ID:</strong>{{selectedFriend.id}}</div>
        <div class="infoIndividual"><strong>Username:</strong>{{selectedFriend.username}}</div>
        <div class="infoIndividual"><strong>Email:</strong>{{selectedFriend.email}}</div>
        <div class="infoIndividual"><strong>Points:</strong>{{selectedFriend.points}}</div>
        <div class="infoIndividual"><strong>Country:</strong> {{selectedFriend.country}}</div>
      </div>
      <div *ngIf="friendsList.length === 0" class="friendsListIndividual">Such Emptiness...</div>
    </div>
  </div>
  <div id="addFriendsList"
       *ngIf="title === 'Add Friends'"
  >
    <input
      class="listInput"
      [(ngModel)]="friendUsername"
      (ngModelChange)="filterAddFriendsList()"
      type="text"
      name="friendUsername"
      maxlength="50"
      placeholder="Search..."
    />
    <div class="listContainer">
      <div
        (click)="addFriend($event)"
        class="addFriendsListIndividual"
        *ngFor="let user of addFriendsList"
      >{{user.username}}</div>
      <div *ngIf="addFriendsList.length === 0" class="addFriendsListIndividual" id="emptiness">Such Emptiness...</div>
    </div>
  </div>
</div>
