<<<<<<< Updated upstream
.userCard {
  height: 500px;

=======
/*h1 {*/
/*  display: inline;*/
/*}*/

#switchMode {
  display: inline;
  font-size: 10px;
  color: pink;
  font-style: italic;
>>>>>>> Stashed changes
}
