<div class="userCard">
  <h3 *ngIf="active === 'picked' || active === 'question'">
    Points: {{ pointsAccumulated }}
  </h3>
  <div
    id="questionContainer"
    *ngIf="active === 'picked' || active === 'question'"
  >
    <h5 [innerHTML]="questionText"></h5>
    <p [innerText]="timeLeft"></p>
    <app-question-options
      *ngIf="active === 'question'"
      [options]="options"
      (selected)="optionSelected($event)"
    ></app-question-options>
    <app-question-picked
      *ngIf="active === 'picked'"
      [answer]="answer"
      [status]="status"
      [yourAnswer]="yourAnswer"
    >
    </app-question-picked>
  </div>
  <div *ngIf="active === 'initial'">
    <h1>Get Ready To Rumble!</h1>
  </div>
  <div *ngIf="active === 'end'" id="end">
    <h2><strong>Results</strong></h2>
    <p><strong>Game Points:</strong> {{ pointsAccumulated }}</p>
    <p><strong>Global Points:</strong> {{ currentUserJSON.points }}</p>
    <p><strong>Total Points:</strong> {{ pointsAccumulated + currentUserJSON.points }}</p>
    <button
      [disabled]="buttonStatus === 'Loading'"
      id="doneButton"
      (click)="onDoneButtonClick()"
    >
      {{ buttonStatus }}
    </button>
  </div>
  <app-home-button
    *ngIf="active === 'picked' || active === 'question'"
  ></app-home-button>
</div>
