
    <div class="userCard">
      <div id="questionContainer">
        <p [innerHTML]="questionText"></p>
        <p [innerText]="timeLeft"></p>
        <app-question-options
          *ngIf="active === 'question'"
          [options]="options"
          (selected)="optionSelected($event)"
        ></app-question-options>
        <app-question-picked
          *ngIf="active === 'picked'"
          [answer]="answer"
          [status]="status"
          [yourAnswer]="yourAnswer"
        >
        </app-question-picked>
      </div>
    </div>
