<div class="userCard">
  <h3 *ngIf="active === 'picked' || active === 'question'">Points: {{ pointsAccumulated }}</h3>
  <div id="questionContainer" *ngIf="active === 'picked' || active === 'question'">
    <h5 [innerHTML]="questionText"></h5>
    <p [innerText]="timeLeft"></p>
    <app-question-options
      *ngIf="active === 'question'"
      [options]="options"
      (selected)="optionSelected($event)"
    ></app-question-options>
    <app-question-picked
      *ngIf="active === 'picked'"
      [answer]="answer"
      [status]="status"
      [yourAnswer]="yourAnswer"
    >
    </app-question-picked>
  </div>
  <div *ngIf="active === 'initial'">
    <h1>Get Ready To Rumble!</h1>
  </div>
  <div *ngIf="active === 'end'" id="end">
    <h2><b>Results</b></h2>
    <p><b>Game Points:</b> {{pointsAccumulated}}</p>
    <p><b>Global Points:</b> {{currentUserJSON.points}}</p>
    <p><b>Total Points:</b> {{pointsAccumulated + currentUserJSON.points}}</p>
    <button [disabled]="buttonStatus === 'Loading'" id="doneButton" (click)="onDoneButtonClick()">{{buttonStatus}}</button>
  </div>
  <app-home-button *ngIf="active === 'picked' || active === 'question'"></app-home-button>
</div>
