<div>
  <h1>
    <strong>Profile</strong>
  </h1>
</div>
<div class="userCard">
  <app-navigation></app-navigation>
  <ul>
    <li class="listItem">ID: {{ user.id }}</li>
    <li class="listItem">Username: {{ user.username }}</li>
    <li class="listItem">
      Password: {{ user.password }}
    </li>
    <li class="listItem">Country: {{ user.country }}</li>
    <li class="listItem">Points: {{ user.points }}</li>
    <li class="listItem">Email: {{ user.email }}</li>
    <li class="listItem" id="changePassword" (click)="onChangePasswordListItemClick()">
      <strong *ngIf="active === 'title'">Change password</strong>
      <form *ngIf="active === 'form'" (ngSubmit)="changePassword($event)">
        <input
          (click)="passwordInput($event)"
          [(ngModel)]="user.password"
          type="text"
          name="password"
          placeholder="New Password:"
          maxlength="50"
          required
        />
        <button type="submit" (click)="onChangeButtonClicked($event)"><strong>Change</strong></button>
      </form>
    </li>
  </ul>

</div>
