<div id="carouselLeaderboard" class="carouselSlide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p>1st: {{ users[0].username }}&ensp; <span>Points: {{ users[0].points }}</span></p>
    </div>
    <div class="carousel-item">
      <p>2nd: {{ users[1].username }}&ensp; <span>Points: {{ users[1].points }}</span></p>
    </div>
    <div class="carousel-item">
      <p>3rd: {{ users[2].username }}&ensp; <span>Points: {{ users[2].points }}</span></p>
    </div>
  </div>
</div>


