<div>
  <h4><strong>Single</strong></h4>
  <form id="questionSetupForm" (submit)="questionSetup()">
    <label>
      Amount:
      <br />
      <input
        type="number"
        name="amount"
        max="50"
        min="1"
        required
        [(ngModel)]="amount"
      />
    </label>
    <label>
      Category:
      <br />
      <select name="category" id="category" [(ngModel)]="category">
        <option value="0">Any</option>
        <option value="9">General Knowledge</option>
        <option value="10">Books</option>
        <option value="11">Film</option>
        <option value="12">Music</option>
        <option value="13">Musicals & Theatres</option>
        <option value="14">Television</option>
        <option value="15">Video Games</option>
        <option value="16">Board Games</option>
        <option value="17">Science & Nature</option>
        <option value="18">Computers</option>
        <option value="19">Mathematics</option>
        <option value="20">Mythology</option>
        <option value="21">Sports</option>
        <option value="22">Geography</option>
        <option value="23">History</option>
        <option value="24">Politics</option>
        <option value="25">Art</option>
        <option value="26">Celebrities</option>
        <option value="27">Animals</option>
        <option value="28">Vehicles</option>
        <option value="29">Comics</option>
        <option value="30">Gadgets</option>
        <option value="31">Japanese Anime</option>
        <option value="32">Cartoon & Animations</option>
      </select>
    </label>
    <label>
      Difficulty:
      <br />
      <select name="difficulty" id="difficulty" [(ngModel)]="difficulty">
        <option value="">Any</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </label>
    <label>
      Type:<br />
      <select name="type" id="type" [(ngModel)]="type">
        <option value="">Any</option>
        <option value="boolean">True or False</option>
        <option value="multiple">Multiple Choice</option>
      </select>
    </label>
    <button type="submit" class="submit">PLAY</button>
  </form>
</div>
